<div class="tool_info">
<h3><%= @tool.name %></h3>
Quantity: <%= @tool.quantity %><br>
Price: <%= @tool.formatted_price %><br>
<% if @tool.category %>
  Category: <%= @tool.category.name %><br>
<% end %>
<%= link_to "Edit", edit_tool_path(@tool.id)%><br>
<%= link_to "Delete", tool_path(@tool.id), method: "Delete" %>

</div>
